# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Poetry
# ==========================
poetry.toml

# ==========================
# Django
# ==========================
db.sqlite3
media/
staticfiles/

# Logs
*.log

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Test / Coverage
# ==========================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.cache/

# ==========================
# Build
# ==========================
dist/
build/
*.egg-info/

# ==========================
# Misc
# ==========================
*.swp
*.swo