<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árvores</title>
</head>
<body>
    <div class="container">
        <h1> Bem Vindo a {{tree.name}}!</h1>
    </div>
    <div class="container">
        <h4>Veja as informações</h4>
    </div>
    <div>
        <button type="button" onclick="window.location.href='{% url 'index' %}'">
            Voltar
        </button>
    </div>
</body>
</html>